In [2]:
import pandas as pd
import gzip

## Consulta 1

In [5]:
steam_games = pd.read_csv('../data/limpio/steam_games.csv.gz',compression='gzip')
users_items = pd.read_csv('../data/limpio/users_items.csv.gz',compression='gzip')

In [6]:
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,year
0,Kotoshiro,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,2018
1,"Making Fun, Inc.","['Free to Play', 'Strategy', 'Indie', 'RPG', '...",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,2018
2,Poolians.com,"['Free to Play', 'Simulation', 'Sports', 'Casu...",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,2017

In [7]:
users_items.head(3)

             user_id  item_id  playtime_forever  playtime_2weeks
0  76561197970982479    300.0         78.883333              0.0
1  76561197970982479    240.0         30.883333              0.0
2  76561197970982479   3830.0          5.550000              0.0

In [8]:
steam_games=steam_games[['genres', 'id','year']]
users_items=users_items[['item_id','playtime_forever']]

In [9]:
consulta_1 = steam_games.merge(users_items,left_on='id', right_on= 'item_id',how='inner')

In [10]:
consulta_1.drop(columns=['id','item_id'], inplace=True)

In [11]:
consulta_1

,genres,year,playtime_forever
0,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,1.833333
1,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,4.350000
2,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,3.866667
3,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,1.750000
4,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,1.883333
...,...,...,...
1967459,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,35.950000
1967460,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,1.033333
1967461,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,3.383333
1967462,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,4.066667
1967463,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,1.650000

In [12]:
consulta_1=consulta_1[consulta_1['playtime_forever']>0]

In [13]:
consulta_1 = consulta_1.groupby(['year','genres']).sum().reset_index()

In [14]:
consulta_1

,year,genres,playtime_forever
0,1983,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",36.616667
1,1984,"['Adventure', 'Casual', 'Action', 'Quick-Time ...",3.500000
2,1987,"['Adventure', 'Classic', 'Pixel Graphics', 'Po...",123.450000
3,1987,"['Adventure', 'Simulation', 'Pirates', 'Classic']",1.300000
4,1988,"['Adventure', 'Action', 'Classic', 'Pixel Grap...",263.133333
...,...,...,...
7051,2017,"['Tower Defense', 'Free to Play', 'Multiplayer...",61209.783333
7052,2017,"['Utilities', 'Education', 'Web Publishing', '...",154.800000
7053,2017,"['Visual Novel', 'Anime', 'Indie', 'Adventure'...",147.583333
7054,2018,"['Early Access', 'Action', 'Indie', 'Simulation']",36.116667
7055,2018,"['Early Access', 'RPG']",62.466667

In [15]:
with gzip.open('../data/consultas/PlayTimeGenre.csv.gz', 'wb') as file:
    consulta_1.to_csv(file, index=False, encoding='utf-8')

## Funcion Consulta 1

In [16]:
consulta_1 = pd.read_csv('../data/consultas/PlayTimeGenre.csv.gz',compression='gzip')

In [17]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [18]:
consulta_1[consulta_1['genres'].str.contains('Action')][['year','playtime_forever']].groupby('year').sum()

      playtime_forever
year
1983                37
1984                 4
1988               465
1989                 8
1990               224
1991                35
1992                26
1993              3345
1994              1731
1995              3235
1996              1040
1997             10516
1998             49650
1999             48401
2000            304329
2001             23180
2002             43139
2003            246041
2004           2206809
2005            252218
2006           7731841
2007            398622
2008            817133
2009           3580427
2010           3598733
2011           5780521
2012          18900018
2013           8059818
2014           3455251
2015           6371478
2016           2063991
2017           2127115
2018                36

In [19]:
consulta_1[consulta_1['genres'].str.contains('RPG')][['year','playtime_forever']].groupby('year').sum()

      playtime_forever
year
1988               202
1992                32
1994                33
1995                66
1996               407
1997              5738
1998              6361
1999              5239
2000             10132
2001              3371
2002             30565
2003            171299
2004             17329
2005            106235
2006             38794
2007            177167
2008            260872
2009            680491
2010           1657711
2011           4492609
2012           4669051
2013           3407725
2014           1892497
2015           4126128
2016           1296688
2017           1129540
2018                62

In [20]:
def PlayTimeGenre(genero: str):
  
  try:
    consulta_1 = pd.read_csv('../data/consultas/PlayTimeGenre.csv.gz',compression='gzip')
    year_max =consulta_1[consulta_1['genres'].str.contains(genero)][['year','playtime_forever']].groupby('year').sum().idxmax().iloc[0]
    return year_max
  
  except Exception as e :
    return {f'ERROR: {e}'}

In [21]:
PlayTimeGenre('RPG')

2012

In [22]:
PlayTimeGenre('Action')

2012

In [23]:
PlayTimeGenre('algo que NO existe')

{'ERROR: attempt to get argmax of an empty sequence'}

## Consulta 2

In [96]:
steam_games = pd.read_csv('../data/limpio/steam_games.csv.gz',compression='gzip')
users_items = pd.read_csv('../data/limpio/users_items.csv.gz',compression='gzip')

In [97]:
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,year
0,Kotoshiro,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,2018
1,"Making Fun, Inc.","['Free to Play', 'Strategy', 'Indie', 'RPG', '...",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,2018
2,Poolians.com,"['Free to Play', 'Simulation', 'Sports', 'Casu...",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,2017

In [98]:
users_items.head(3)

             user_id  item_id  playtime_forever  playtime_2weeks
0  76561197970982479    300.0         78.883333              0.0
1  76561197970982479    240.0         30.883333              0.0
2  76561197970982479   3830.0          5.550000              0.0

In [99]:
steam_games=steam_games[['genres', 'id','year']]
users_items=users_items[['item_id','playtime_forever','user_id']]

In [101]:
consulta_2 = steam_games.merge(users_items,left_on='id', right_on= 'item_id',how='inner')

In [102]:
consulta_2.drop(columns=['id'], inplace=True)

In [103]:
consulta_2

,genres,year,item_id,playtime_forever,user_id
0,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,282010.0,1.833333,chidvd
1,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,282010.0,4.350000,666NeCrO
2,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,282010.0,3.866667,phrostb
3,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,282010.0,1.750000,rawrvixen
4,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",1997,282010.0,1.883333,RED_PRIDE
...,...,...,...,...,...
1967459,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,80.0,35.950000,Mooseox
1967460,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,80.0,1.033333,lachwe
1967461,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,80.0,3.383333,76561198208507532
1967462,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,80.0,4.066667,76561198221578852
1967463,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",2004,80.0,1.650000,76561198312638244

In [104]:
consulta_2=consulta_2.groupby(['year','user_id','item_id']).sum().reset_index()

In [105]:
consulta_2

,year,user_id,item_id,genres,playtime_forever
0,1983,76561197966936422,227380.0,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",5.516667
1,1983,76561197969020980,227380.0,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",1.633333
2,1983,76561197995333910,227380.0,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",5.016667
3,1983,76561198006449409,227380.0,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",1.300000
4,1983,76561198014522022,227380.0,"['Adventure', 'Action', 'FMV', 'Casual', 'Quic...",1.166667
...,...,...,...,...,...
1967450,2018,phrostb,412250.0,"['Early Access', 'Action', 'Indie', 'Simulation']",4.150000
1967451,2018,rawrvixen,339820.0,"['Early Access', 'RPG']",3.083333
1967452,2018,rawrvixen,412250.0,"['Early Access', 'Action', 'Indie', 'Simulation']",4.183333
1967453,2018,thugnificent,339820.0,"['Early Access', 'RPG']",4.150000
1967454,2018,thugnificent,412250.0,"['Early Access', 'Action', 'Indie', 'Simulation']",5.700000

In [106]:
# Función para limpiar columna genero
def limpia_genero(cadena):
    cadena_limpia = cadena.replace("['", "").replace("']", "")
    lista_original = [item.strip() for item in cadena_limpia.split("', '")]
    lista_unica = list(set(lista_original))
    return lista_unica

In [107]:
# Aplicar la función de limpieza
consulta_2['genres'] = consulta_2['genres'].apply(limpia_genero)

In [108]:
consulta_2.sort_values('playtime_forever', ascending=False).head(20)

,year,user_id,item_id,genres,playtime_forever
175457,2006,wolop,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",10712.883333
873735,2012,Evilutional,212200.0,"[Nudity, Action, Adventure, Great Soundtrack, ...",10588.250000
114140,2006,76561198039832932,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",10223.516667
699965,2011,tsunamitad,72200.0,"[Funny, God Game, Simulation, Free to Play, Ed...",10001.133333
165418,2006,jimmynoe,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",9195.316667
42683,2003,shinomegami,8500.0,"[Action, Tactical, Difficult, PvP, Free to Pla...",8848.033333
166893,2006,lildoughnut,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8358.300000
155900,2006,ThisIsWhereIGetOff,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8250.966667
45683,2004,76561197977470391,320.0,"[Funny, Action, Adventure, Competitive, Co-op,...",8229.850000
151673,2006,Nuclueus,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8213.500000
82560,2004,theoriginalmasta,240.0,"[Moddable, Action, Team-Based, Tactical, e-spo...",7985.283333
795426,2012,76561198063368177,47410.0,"[Real-Time, Medieval, Action, PvP, Free to Pla...",7331.866667
148460,2006,Jaxon1049,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",7133.533333
496849,2010,streetjimmy,8930.0,"[Moddable, Grand Strategy, Education, Historic...",7090.616667
141820,2006,765611983889673,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",7027.533333
670676,2011,jimmynoe,72200.0,"[Funny, God Game, Simulation, Free to Play, Ed...",6941.183333
49966,2004,76561198027114566,240.0,"[Moddable, Action, Team-Based, Tactical, e-spo...",6850.316667
685761,2011,poedgirl,113400.0,"[Action, Shooter, FPS, Massively Multiplayer, ...",6808.200000
1253450,2013,laumir,230410.0,"[Action, Futuristic, Shooter, FPS, Massively M...",6778.616667
394569,2010,76561198033862482,8930.0,"[Moddable, Grand Strategy, Education, Historic...",6765.100000

In [109]:
top_playtime=consulta_2[['user_id','playtime_forever']]

In [110]:
grup_top=top_playtime.groupby(['user_id']).sum().sort_values('playtime_forever', ascending=False)

In [111]:
user_2000=grup_top[grup_top['playtime_forever']>2000].reset_index()

In [112]:
user_2000

                  user_id  playtime_forever
0            REBAS_AS_F-T      65435.233333
1             shinomegami      50921.416667
2         DownSyndromeKid      40472.866667
3                 Sp3ctre      33967.300000
4      stopgovtcorruption      25248.816667
...                   ...               ...
10896   76561198069429923       2000.883333
10897   76561198044839749       2000.716667
10898   76561198058555953       2000.666667
10899             C4V3M4N       2000.616667
10900   76561198070178105       2000.316667

[10901 rows x 2 columns]

In [113]:
user_2000=user_2000['user_id']

In [114]:
consulta_2=consulta_2.merge(user_2000, on='user_id')

In [115]:
consulta_2.sort_values('playtime_forever', ascending=False).head(20)

,year,user_id,item_id,genres,playtime_forever
693355,2006,wolop,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",10712.883333
513939,2012,Evilutional,212200.0,"[Nudity, Action, Adventure, Great Soundtrack, ...",10588.250000
317182,2006,76561198039832932,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",10223.516667
135993,2011,tsunamitad,72200.0,"[Funny, God Game, Simulation, Free to Play, Ed...",10001.133333
674538,2006,jimmynoe,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",9195.316667
41462,2003,shinomegami,8500.0,"[Action, Tactical, Difficult, PvP, Free to Pla...",8848.033333
677841,2006,lildoughnut,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8358.300000
269494,2006,ThisIsWhereIGetOff,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8250.966667
213543,2004,76561197977470391,320.0,"[Funny, Action, Adventure, Competitive, Co-op,...",8229.850000
340790,2006,Nuclueus,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",8213.500000
299278,2004,theoriginalmasta,240.0,"[Moddable, Action, Team-Based, Tactical, e-spo...",7985.283333
380272,2012,76561198063368177,47410.0,"[Real-Time, Medieval, Action, PvP, Free to Pla...",7331.866667
636829,2006,Jaxon1049,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",7133.533333
92177,2010,streetjimmy,8930.0,"[Moddable, Grand Strategy, Education, Historic...",7090.616667
161669,2006,765611983889673,4000.0,"[Moddable, Action, Comedy, Shooter, FPS, Mod, ...",7027.533333
674552,2011,jimmynoe,72200.0,"[Funny, God Game, Simulation, Free to Play, Ed...",6941.183333
479451,2004,76561198027114566,240.0,"[Moddable, Action, Team-Based, Tactical, e-spo...",6850.316667
553568,2011,poedgirl,113400.0,"[Action, Shooter, FPS, Massively Multiplayer, ...",6808.200000
758297,2013,laumir,230410.0,"[Action, Futuristic, Shooter, FPS, Massively M...",6778.616667
445621,2010,76561198033862482,8930.0,"[Moddable, Grand Strategy, Education, Historic...",6765.100000

In [12]:
# with gzip.open('../data/consultas/UserForGenreviejo.csv.gz', 'wb') as file:
#     consulta_2.to_csv(file, index=False, encoding='utf-8')

In [116]:
with gzip.open('../data/consultas/UserForGenre.csv.gz', 'wt', encoding='utf-8') as file:
    consulta_2.to_csv(file, index=False)

## Funcion Consulta 2

In [117]:
consulta_2 = pd.read_csv('../data/consultas/UserForGenre.csv.gz',compression='gzip')

In [118]:
consulta_2

,year,user_id,item_id,genres,playtime_forever
0,1983,76561197995333910,227380.0,"['Adventure', 'Action', 'FMV', 'Retro', 'Quick...",5.016667
1,2004,76561197995333910,220.0,"['Moddable', 'Action', 'Zombies', 'Dystopian',...",23.883333
2,2004,76561197995333910,240.0,"['Moddable', 'Action', 'Team-Based', 'Tactical...",320.316667
3,2005,76561197995333910,1500.0,"['Story Rich', 'Action', 'Top-Down', 'Singlepl...",1.933333
4,2006,76561197995333910,380.0,"['Moddable', 'Action', 'Zombies', 'Dystopian',...",2.016667
...,...,...,...,...,...
772733,2013,76561198124399539,211500.0,"['Action', 'Realistic', 'VR', 'Sports', 'FPS',...",1.116667
772734,2015,76561198124399539,255710.0,"['Moddable', 'Action', 'Realistic', 'Resource ...",2640.733333
772735,2014,76561198054840158,268420.0,"['Action', 'Fantasy', 'Third Person', 'Adventu...",5624.216667
772736,2016,76561198054840158,372000.0,"['Action', 'Memes', 'Fantasy', 'Dating Sim', '...",299.500000
772737,2017,76561198044839749,301520.0,"['Action', 'Shooter', 'Robots', 'FPS', 'Massiv...",2000.716667

In [119]:
def UserForGenre(genero: str):

  try:
    consulta_2 = pd.read_csv('../data/consultas/UserForGenre.csv.gz',compression='gzip')
    consulta_2[['user_id','year','playtime_forever']][consulta_2['genres'].str.contains("Action")].groupby('user_id').sum().sort_values('playtime_forever', ascending=False).reset_index()
    usuario=consulta_2[['user_id','year','playtime_forever']][consulta_2['genres'].str.contains("Action")].groupby('user_id').sum().sort_values('playtime_forever', ascending=False).reset_index().iloc[0,0]
    consulta_2=consulta_2[['user_id','year','playtime_forever']][consulta_2['user_id']==usuario].groupby(['user_id','year']).sum().reset_index()
    dict_data = consulta_2.to_dict(orient='records')
    lista = [{'Año': d['year'], 'Horas': int(round(d['playtime_forever'],0))} for d in dict_data]

    resultado = {"Usuario con más horas jugadas para Género {}".format(genero): usuario,
                "Horas jugadas": lista}
    return resultado
  
  except Exception as e :
    return {f'ERROR: {e}'}

In [120]:
UserForGenre('RPG')

{'Usuario con más horas jugadas para Género RPG': 'Sp3ctre',
 'Horas jugadas': [{'Año': 1995, 'Horas': 4},
  {'Año': 1997, 'Horas': 4},
  {'Año': 1999, 'Horas': 10},
  {'Año': 2000, 'Horas': 1177},
  {'Año': 2001, 'Horas': 4},
  {'Año': 2002, 'Horas': 6},
  {'Año': 2003, 'Horas': 129},
  {'Año': 2004, 'Horas': 2134},
  {'Año': 2005, 'Horas': 356},
  {'Año': 2006, 'Horas': 1536},
  {'Año': 2007, 'Horas': 1880},
  {'Año': 2008, 'Horas': 142},
  {'Año': 2009, 'Horas': 1818},
  {'Año': 2010, 'Horas': 1385},
  {'Año': 2011, 'Horas': 2591},
  {'Año': 2012, 'Horas': 6403},
  {'Año': 2013, 'Horas': 2083},
  {'Año': 2014, 'Horas': 2273},
  {'Año': 2015, 'Horas': 8535},
  {'Año': 2016, 'Horas': 776},
  {'Año': 2017, 'Horas': 722}]}

## Consulta 3 y 4

In [2]:
steam_games = pd.read_csv('../data/limpio/steam_games.csv.gz',compression='gzip')
user_reviews = pd.read_csv('../data/limpio/user_reviews.csv.gz',compression='gzip')

In [3]:
steam_games.head(3)

,publisher,genres,app_name,release_date,price,id,developer,year
0,Kotoshiro,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro,2018
1,"Making Fun, Inc.","['Free to Play', 'Strategy', 'Indie', 'RPG', '...",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL,2018
2,Poolians.com,"['Free to Play', 'Simulation', 'Sports', 'Casu...",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com,2017

In [4]:
user_reviews.head(3)

,user_id,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250.0,True,2
1,76561197970982479,"Posted July 15, 2011.",22200.0,True,1
2,76561197970982479,"Posted April 21, 2011.",43110.0,True,2

In [5]:
steam_games=steam_games[['app_name', 'id','year']]
user_reviews=user_reviews[['item_id','recommend','sentiment_analysis']]

In [6]:
consulta_3 = steam_games.merge(user_reviews,left_on='id', right_on= 'item_id',how='inner')

In [7]:
consulta_3.drop(columns=['id','item_id'], inplace=True)

In [8]:
with gzip.open('../data/consultas/UsersRecommend.csv.gz', 'wb') as file:
    consulta_3.to_csv(file, index=False, encoding='utf-8')

## Funciones Consultas 3 y 4

In [52]:
consulta_3 = pd.read_csv('../data/consultas/UsersRecommend.csv.gz',compression='gzip')

In [60]:
consulta_3

                             app_name  year  recommend  sentiment_analysis
0                Carmageddon Max Pack  1997       True                   1
1                           Half-Life  1998       True                   0
2                           Half-Life  1998       True                   0
3                           Half-Life  1998       True                   1
4                           Half-Life  1998       True                   2
...                               ...   ...        ...                 ...
49831  Counter-Strike: Condition Zero  2004      False                   1
49832  Counter-Strike: Condition Zero  2004       True                   2
49833  Counter-Strike: Condition Zero  2004       True                   1
49834  Counter-Strike: Condition Zero  2004       True                   1
49835  Counter-Strike: Condition Zero  2004       True                   0

[49836 rows x 4 columns]

In [61]:
recommend=consulta_3['app_name'][(consulta_3['year']==2012) & (consulta_3['recommend']==True) & (consulta_3['sentiment_analysis']!=0)].value_counts().reset_index().head(3)

In [62]:
recommend

                           app_name  count
0  Counter-Strike: Global Offensive   3130
1                     Borderlands 2    498
2                      PlanetSide 2    297

In [63]:
result_list = [{"Puesto {}: {}".format(i + 1, row['app_name']): row['count']} for i, row in recommend.iterrows()]
result_list

[{'Puesto 1: Counter-Strike: Global Offensive': 3130},
 {'Puesto 2: Borderlands 2': 498},
 {'Puesto 3: PlanetSide 2': 297}]

In [64]:
result_list = [{"Puesto {}: {}".format(i + 1, row['app_name'])} for i, row in recommend.iterrows()]
result_list

[{'Puesto 1: Counter-Strike: Global Offensive'},
 {'Puesto 2: Borderlands 2'},
 {'Puesto 3: PlanetSide 2'}]

In [65]:
def UsersRecommend(año: str):

  try:
    consulta_3 = pd.read_csv('../data/consultas/UsersRecommend.csv.gz',compression='gzip')
    recommend=consulta_3['app_name'][(consulta_3['year']==año) & (consulta_3['recommend']==True) & (consulta_3['sentiment_analysis']!=0)].value_counts().reset_index().head(3)
    result_list = [{"Puesto {}: {}".format(i + 1, row['app_name'])} for i, row in recommend.iterrows()]
    return result_list
  
  except Exception as e :
    return {f'ERROR: {e}'}

In [66]:
UsersRecommend(2010)

[{"Puesto 1: Sid Meier's Civilization® V"},
 {'Puesto 2: Mount & Blade: Warband'},
 {'Puesto 3: Fallout: New Vegas'}]

In [67]:
UsersRecommend(2012)

[{'Puesto 1: Counter-Strike: Global Offensive'},
 {'Puesto 2: Borderlands 2'},
 {'Puesto 3: PlanetSide 2'}]

In [68]:
def UsersNotRecommend(año: str):

  try:
    consulta_3 = pd.read_csv('../data/consultas/UsersRecommend.csv.gz',compression='gzip')
    recommend=consulta_3['app_name'][(consulta_3['year']==año) & (consulta_3['recommend']==False) & (consulta_3['sentiment_analysis']==0)].value_counts().reset_index().head(3)
    result_list = [{"Puesto {}: {}".format(i + 1, row['app_name'])} for i, row in recommend.iterrows()]
    return result_list
  
  except Exception as e :
    return {f'ERROR: {e}'}

In [69]:
UsersNotRecommend(2013)

[{'Puesto 1: DayZ'}, {'Puesto 2: Rust'}, {'Puesto 3: Tactical Intervention'}]

## Consulta 5

In [71]:
consulta_3 = pd.read_csv('../data/consultas/UsersRecommend.csv.gz',compression='gzip')

In [18]:
consulta_3

                             app_name  year  recommend  sentiment_analysis
0                Carmageddon Max Pack  1997       True                   1
1                           Half-Life  1998       True                   0
2                           Half-Life  1998       True                   0
3                           Half-Life  1998       True                   1
4                           Half-Life  1998       True                   2
...                               ...   ...        ...                 ...
49831  Counter-Strike: Condition Zero  2004      False                   1
49832  Counter-Strike: Condition Zero  2004       True                   2
49833  Counter-Strike: Condition Zero  2004       True                   1
49834  Counter-Strike: Condition Zero  2004       True                   1
49835  Counter-Strike: Condition Zero  2004       True                   0

[49836 rows x 4 columns]

In [72]:
consulta_3.drop(columns=['app_name'], inplace=True)

In [74]:
with gzip.open('../data/consultas/sentiment_analysis.csv.gz', 'wb') as file:
    consulta_3.to_csv(file, index=False, encoding='utf-8')

## Funcion Consulta 5

In [75]:
consulta_5 = pd.read_csv('../data/consultas/sentiment_analysis.csv.gz',compression='gzip')

In [76]:
valores=consulta_5['sentiment_analysis'][consulta_5['year']==2012].value_counts()

In [77]:
resultado = {
    'Negative': valores.get(0, 0),
    'Neutral': valores.get(1, 0),
    'Positive': valores.get(2, 0)
}

print(resultado)

{'Negative': 1029, 'Neutral': 2863, 'Positive': 5025}

In [81]:
def sentiment_analysis(year: int):
  try:
    consulta_5 = pd.read_csv('../data/consultas/sentiment_analysis.csv.gz',compression='gzip')
    valores=consulta_5['sentiment_analysis'][consulta_5['year']==year].value_counts().reset_index()
    resultado = {'Negative': str(valores.loc[2, 'count']),
        'Neutral': str(valores.loc[1, 'count']),
        'Positive': str(valores.loc[0, 'count'])}
    return resultado

  except Exception as e :
    return {f'ERROR: {e}'}

In [82]:
sentiment_analysis(2012)

{'Negative': '1029', 'Neutral': '2863', 'Positive': '5025'}

In [83]:
year=2012
consulta_5 = pd.read_csv('../data/consultas/sentiment_analysis.csv.gz',compression='gzip')
valores=consulta_5['sentiment_analysis'][consulta_5['year']==year].value_counts()
resultado = {'Negative': valores.get(0, 0),
    'Neutral': valores.get(1, 0),
    'Positive': valores.get(2, 0)}
resultado

{'Negative': 1029, 'Neutral': 2863, 'Positive': 5025}